<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.appplatform.app"
        version   = "1.0.2">
		
    <name>App-Platform</name>

    <description>
        App-Platform.net Sales App
    </description>

    <author href="http://app-platform.net" email="info@app-platform.net">
        App-Platform.net Team
    </author>
	
	<feature name="http://api.phonegap.com/1.0/network"/>
	<feature name="http://api.phonegap.com/1.0/file"/>

    <preference name="phonegap-version" value="2.1.0" />
    <preference name="orientation"      value="default" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="false" />
	<preference name="android-installLocation" value="auto" />
	<preference name="stay-in-webview" value="false" />

    <icon src="icons/icon.png" />
    <icon src="icons/icon.png"   gap:platform="android"    gap:density="ldpi" />

    <gap:splash src="icons/splash_android.png"  gap:platform="android" gap:density="mdpi" />
    <gap:splash src="icons/splash_tabelt.png" gap:platform="android" gap:density="xhdpi" />

	</widget>